.par {
  font-size: 3em;
  font-family:sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}
.cim {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.myfloat {
  float: left;
}